.header {
    border: #000000 3px solid;
    border-top-width: 0;
    grid-area: h;
    background-color: #25252a;
}

.header img {
    width: 20px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}
.loginBlock {
    color: white;
}