.header {
  display: flex;
  justify-content: end;
  align-items: center;
  border-radius: 5px;
  background-color: #222222;
  height: 30px;
  margin-bottom: 10px;

  .loginBlock {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    padding: 0 10px;
    color: white;
    height: 100%;
    width: 50px;
    border-radius: 0 5px 5px 0 ;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    img {
      border-radius: 50%;
      height: 22px;
    }

    svg {
      position: absolute;
      left: 28px;
      top: 10px;
      height: 12px;
      opacity: 50%;
    }
  }

  .popupBlock {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 50px;
    height: 60px;
    background-color: rgba(150, 150, 150, 0.2);
    position: absolute;
    top: 90px;
    border-radius: 0 0 2px 2px;
    z-index: 999;

    p {
      margin: 0 auto;
      padding: 3px 4px;
      cursor: pointer;
      width: 100%;
      color: white;
      font-size: 13px;

      &:hover {
        font-weight: 500;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}