@import './variables';
@import './normalize';

.wrapper {
    width: calc(100vw - 100px);
    height: 100%;
    background-color: #484848;
    margin: 30px auto;
    border-radius: 10px;
    max-width: 900px;

}

.content {
    display: flex;
    justify-content: center;
    width: 900px;
    min-height: 85vh
}