.paginationWrapper {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}


.page {
    font-size: 13px;
    text-align: center;
    border: 1px black solid;
    height: 18px;
    width: 18px;
    border-radius: 50px;
    margin: 5px;
    cursor: pointer;
    color: white;
}

.selectedPage {
    font-size: 13px;
    text-align: center;
    border: 1px white solid;
    height: 18px;
    width: 18px;
    border-radius: 50px;
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
    color: #888787;
}

