.loginWrapper {
  height: 900px;
  width: 100%;
  background-color: #222222;
  border-radius: 10px;

  .loginBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 1px black solid;
    width: 450px;
    height: 430px;
    box-shadow: 40px 0 0 #414141;
    background-color: #888787;
    border-radius: 5px;
    padding-bottom: 20px;

    .email input, .password input {
      background-color: rgba(255, 255, 255, 0.4);
      border: 1px solid black;
      border-radius: 5px;
      width: 250px;
      height: 50px;
      margin-bottom: 5px;
    }

    h1 {
      color: #ffffff;
      font-size: 23px;
    }

    input::placeholder {
      color: white;
    }

    .email, .password {
      text-align: center;
    }

    .remember {
      margin: 3px 0 5px;
      display: flex;
      color: black;
      font-size: 13px;
      align-items: center;
      justify-content: center;
    }

    p {
      margin: 0;
    }

    button {
      width: 250px;
      height: 38px;
      border: none;
      color: white;
      background-color: #3b3b3b;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 500;
      box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%)
    }

    button:hover {
      background-color: #2a2a2a;
      box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);;
    }
  }

  .formError {
    border: red 2px solid;
    padding: 5px;
    color: #ff3a3a;
    width: 230px;
  }

  @media (max-width: 1500px) {
    height: 600px;
  }
}
