.sidebar {
    grid-area: n;
    background-color: darkseagreen;
    padding: 20px;
}

.nav {
    text-align: start;
}

.friends {
    text-align: center;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    text-align: center;
    font-size: 23px;
    color: orangered;
    line-height: 50px;
    font-weight: 600;
}

.friends {
    margin-top: 60px;
}

.friendsTitle {
    color: white;
    display: block;
    font-size: 30px;
    font-weight: 300;
    line-height: 18px;
}

.friendsBlock {
    margin-right: 10px;
    display: flex;
}

.friendsItem {
    text-align: center;
    margin: 20px;
    display: block;
    width: 20px;
    height: 20px;
}

.friendsItem img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50px 50px;
}

.friendsName {
    font-size: 12px;
    color: white;
}