.sidebar {
  display: inline-block;
  margin-right: 10px;
  width: 25%;

  .nav {
    display: flex;
    flex-direction: column;
    text-align: start;

    a {
      background-color: #222222;
      margin-bottom: 5px;
      padding: 15px;
      border-radius: 10px;
      cursor: pointer;
      color: white;
      text-decoration: none;

      &:hover {
        font-weight: 600;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

.item a.activeLink {
  text-align: center;
  font-size: 23px;
  color: orangered;
  line-height: 50px;
  font-weight: 600;
}